@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    background: linear-gradient(-45deg, rgb(20, 176, 187), rgb(214, 217, 218), #333);
    background-size: 150% 150%;
    background-repeat: no-repeat;
    animation: background-colors 5s ease-in-out infinite;
    width: 100%;
    height: 100%;
}

h2 {
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(20, 176, 187);
}

/*--------------------------------------Navbar*/

#navbar {
    background-color: #333;
    margin: 0;
    padding: 0;
}
#nav-link {
    color: rgb(20, 176, 187);
}

#navbarNav {
    color: rgb(20, 176, 187);
}

#navbarNav a {
    color: rgb(20, 176, 187);
    margin-right: 10px;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(20, 176, 187);
    margin-right: 10px;
}

.custom-toggler .navbar-toggler:hover {
    opacity: 0.7;
}

#navbar {
    min-height: 70px;
}

#navbar .navbar-brand {
    font-size: 200%;
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(20, 176, 187);
}

#navbarNav a:hover {
    color: rgb(214, 217, 218);
}

#navbar a:hover {
    color: rgb(214, 217, 218);
}

/*--------------------------------------End of Navbar*/

/*--------------------------------------Hero Image*/

.banner {
    background-image: url(../images/aurora.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    margin: 0;
    padding: 0;
}

.banner-content {
    text-align: center;
    color: rgb(214, 217, 218);
    padding-top: 120px;
    background: rgba(0, 0, 0, 0.58);
    background: cover;
}

.banner-content h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 120px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(207, 19, 19);
}

.banner-content h3 {
    padding-top: 60px;
    font-size: 40px;
}
/*--------------------------------------End of Hero Image*/

/*-------------------------------------------------Location*/

#location {
    margin-top: 40px;
    padding: 0;
    text-align: center;
}

.location-text h2 {
    text-transform: capitalize;
    color: rgb(207, 19, 19);
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 2px;
}

.location-text h3 {
    text-transform: capitalize;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 2px;
}

/*-------------------------------------------------End of Location*/

/*--------------------------------------Drinks*/

.drinks {
    margin: 10px;
    padding: 15px;
}

.cocktails-box {
    width: 80%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.cocktails {
    flex-basis: 50%;
}

.cocktails h2 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 300%;
    color: rgb(207, 19, 19);
}

.cocktails ul {
    text-align: left;
    list-style: none;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

.cocktails-list-img {
    flex-basis: 50%;
    margin: auto;
}

.cocktails-list-img img {
    width: 70%;
    height: 50vh;
    border-radius: 20px;
}

.beers-box {
    width: 80%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.beers {
    flex-basis: 50%;
}

.beers h2 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 300%;
    color: rgb(207, 19, 19);
}

.beers ul {
    text-align: left;
    list-style: none;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

.beers-list-img {
    flex-basis: 50%;
    margin: auto;
}

.beers-list-img img {
    width: 70%;
    height: 50vh;
    border-radius: 20px;
}

.soft-drinks-box {
    width: 80%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.soft-drinks {
    flex-basis: 50%;
}

.soft-drinks h2 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 300%;
    color: rgb(207, 19, 19);
}

.soft-drinks ul {
    text-align: left;
    list-style: none;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

.soft-drinks-list-img {
    flex-basis: 50%;
    margin: auto;
}

.soft-drinks-list-img img {
    width: 70%;
    height: 50vh;
    border-radius: 20px;
}

/*--------------------------------------End of drinks*/

/*--------------------------------------Times*/



.opening {
    background-color: rgba(214, 217, 218, 0.9);
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: 400%;
    margin-top: 20px;
    padding: 0;
}

.times {
    background-color: rgb(14, 65, 78);
}

.times h2 {
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(207, 19, 19);
}

/*--------------------------------------End of Times*/

/*--------------------------------------Gallery Images*/

.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin-bottom: 0;
    margin-top: 70px;
}

.background-image-gallery {
    background: linear-gradient(-45deg, rgb(20, 176, 187), rgb(214, 217, 218), rgb(214, 217, 218), #333);
    background-size: 400% 400%;
    position: relative;
    animation: background-colors 5s ease-in-out infinite;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:
        "img-1 img-2 img-3 img-3"
        "img-1 img-4 img-5 img-6"
        "img-7 img-7 img-8 img-6";
}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    animation-name: image-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes background-colors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.img-1 {
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url("../images/gallery-img-1.jpg");
}

.img-2 {
    grid-area: img-2;
    background-image: url("../images/gallery-img-2.jpg");
}

.img-3 {
    grid-area: img-3;
    background-image: url("../images/gallery-img-3.jpg");
}

.img-4 {
    grid-area: img-4;
    background-image: url("../images/gallery-img-4.jpeg");
}

.img-5 {
    grid-area: img-5;
    background-image: url("../images/gallery-img-5.jpg");
}

.img-6 {
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url("../images/gallery-img-6.jpg");
}

.img-7 {
    grid-area: img-7;
    background-image: url("../images/gallery-img-7.jpg");
}

.img-8 {
    grid-area: img-8;
    background-image: url("../images/gallery-img-8.jpg");
}

.img-9 {
    grid-area: img-9;
    background-image: url("../images/gallery-img-9.jpg");
}

/*--------------------------------------End of Gallery Images*/

/*--------------------------------------Contact Us*/

.contact {
    background: linear-gradient(-45deg, rgb(20, 176, 187), rgb(214, 217, 218), rgb(214, 217, 218), #333);
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    position: relative;
    animation: background-colors 5s ease-in-out infinite;
    margin-top: 4rem;
    padding-bottom: 6rem;
}

.card {
    margin-top: 6rem;
}

#contact-us {
    color: aliceblue;
    font-size: 50px;
}

.head {
    background-color: rgb(20, 176, 187);
    border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: 5px 4px 5px 6px rgba(0, 0, 0, 0.58);
    box-shadow: 5px 4px 5px 6px rgba(0, 0, 0, 0.58);
}

.effect-1 {
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 5px solid rgb(219, 213, 213);
}

.effect-1 ~ .Focus-border {
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    height: 5px;
    background-color: rgb(20, 176, 187);
}

.effect-1:focus ~ .Focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn {
    background: rgb(20, 176, 187);
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 180px;
}

.btn:hover {
    font-size: 20px;
    -webkit-box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.58);
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.58);
}

/*--------------------------------------End of Contact Us*/

/*--------------------------------------Footer*/

footer {
    background-color: #333;
    text-align: center;
    font-size: 150%;
    width: 100%;
    bottom: 0;
    right: 0;
    max-height: 240px;
    margin-bottom: -20px;
}

footer > a {
    color: rgb(20, 176, 187);
    text-decoration: none;
    padding-left: 15px;
    font-size: 1.2rem;
}

footer > a:hover {
    color: rgb(214, 217, 218);
    text-decoration: none;
    font-size: 1.2rem;
}

footer > p {
    color: rgb(20, 176, 187);
}

/*--------------------------------------End of Footer*/

/*--------------------------------------Media Query*/

@media screen and (max-width: 1440px) {
    footer {
        background-color: #333;
        background-position: bottom;
        text-align: center;
        width: 100%;
        bottom: 0;
        max-height: 240px;
    }
}

@media screen and (max-width: 1024px) {
    .beers-list-img img {
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }

    .cocktails-list-img img {
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }

    .soft-drinks-list-img img {
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 900px) {
    #navbar .navbar-brand {
        font-size: 150%;
    }

    .container {
        margin: 0;
        margin-top: 70px;
    }

    .banner-content h2 {
        font-size: 400%;
        font-weight: 500;
        letter-spacing: 3px;
        font-family: "Fira Sans", sans-serif;
    }

    .banner-content h3 {
        font-size: 220%;
        font-weight: 500;
    }

    .cocktails {
        flex-basis: 100%;
    }

    .cocktails h2 {
        text-align: center;
        margin-top: 5vh;
    }

    .cocktails ul li {
        text-align: center;
    }

    .cocktails-list-img {
        flex-basis: 65%;
    }

    .cocktails-list-img img {
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }

    .beers {
        flex-basis: 100%;
    }

    .beers h2 {
        text-align: center;
        margin-top: 10vh;
    }

    .beers ul li {
        text-align: center;
    }

    .beers-list-img {
        flex-basis: 65%;
    }

    .beers-list-img img {
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }

    .soft-drinks {
        flex-basis: 100%;
    }

    .soft-drinks h2 {
        text-align: center;
        margin-top: 20vh;
    }

    .soft-drinks ul li {
        text-align: center;
    }

    .soft-drinks-list-img {
        flex-basis: 65%;
    }

    .soft-drinks-list-img img {
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }

    .opening {
        margin-top: 35vh;
    }

    .custom-toggler.navbar-toggler {
        border-color: rgb(20, 176, 187);
        margin-right: 10px;
    }

    .image-gallery {
        grid-template-areas:
            "img-1 img-1 img-2 img-2"
            "img-1 img-1 img-3 img-3"
            "img-4 img-4 img-5 img-5"
            "img-6 img-7 img-7 img-7"
            "img-8 img-8 img-8 img-8";
    }

    .image-gallery a {
        height: 20rem;
    }

    .img-1 {
        min-height: 41.5rem;
    }

    .img-6 {
        min-height: 20rem;
    }

    .contact {
        background: linear-gradient(-45deg, rgb(20, 176, 187), rgb(214, 217, 218), rgb(214, 217, 218), #333);
        background-size: 400% 400%;
        width: 100%;
        height: 100vh;
        position: relative;
        animation: background-colors 5s ease-in-out infinite;
        margin-top: 4rem;
        margin-bottom: 6.5rem;
    }

    footer {
        background-color: #333;
        text-align: center;
        width: 100%;
        bottom: 0;
        right: 0;
        max-height: 240px;
    }

    footer > a {
        color: rgb(20, 176, 187);
        text-decoration: none;
        padding: 0 15px;
        font-size: 1.2rem;
    }

    footer > a:hover {
        color: rgb(20, 176, 187);
        text-decoration: none;
        padding: 0 15px;
        font-size: 1.2rem;
    }

    footer > p {
        color: rgb(20, 176, 187);
    }
}

@media screen and (max-width: 600px) {
    #navbar .navbar-brand {
        font-size: 120%;
    }

    .container {
        margin: 0;
        margin-top: 70px;
    }

    .opening {
        text-align: center;
        text-transform: uppercase;
        color: #333;
        font-weight: bold;
        font-size: 200%;
        margin-top: 50vh;
        padding: 0;
    }

    .drinks {
    margin-top: 20px;
    padding: 15px;
    }


    .cocktails {
        flex-basis: 100%;
    }

    .cocktails-list-img {
        flex-basis: 100%;
    }

    .cocktails-list-img img {
        width: 100%;
        border-radius: 20px;
    }

    .beers {
        flex-basis: 100%;
    }

    .beers-list-img {
        flex-basis: 100%;
    }

    .beers-list-img img {
        width: 100%;
        border-radius: 20px;
    }

    .soft-drinks {
        flex-basis: 100%;
    }

    .soft-drinks-list-img {
        flex-basis: 100%;
    }

    .soft-drinks-list-img img {
        width: 100%;
        border-radius: 20px;
    }

    .custom-toggler.navbar-toggler {
        border-color: rgb(20, 176, 187);
        margin-right: 10px;
    }

    .image-gallery {
        grid-template-areas:
            "img-1 img-1 img-1 img-1"
            "img-2 img-2 img-2 img-2"
            "img-3 img-3 img-3 img-3"
            "img-4 img-4 img-4 img-4"
            "img-5 img-5 img-5 img-5"
            "img-6 img-6 img-6 img-6"
            "img-7 img-7 img-7 img-7"
            "img-8 img-8 img-8 img-8";
    }
    .image-gallery a,
    .img-1,
    .img-6 {
        height: 20rem;
        min-height: 30rem;
    }

    .contact {
        background: linear-gradient(-45deg, rgb(20, 176, 187), rgb(214, 217, 218), rgb(214, 217, 218), #333);
        background-size: 400% 400%;
        width: 100%;
        height: 100vh;
        animation: background-colors 5s ease-in-out infinite;
        margin-top: 4rem;
        margin-bottom: 10rem;
    }

    #contact-us {
        color: aliceblue;
    }

    .btn {
        font-size: 18px;
    }

    footer {
        background-color: #333;
        text-align: center;
        width: 100%;
        bottom: 0;
        right: 0;
        max-height: 240px;
    }

    footer > a {
        color: rgb(20, 176, 187);
        text-decoration: none;
        padding: 0 15px;
        font-size: 1.2rem;
    }

    footer > a:hover {
        color: rgb(20, 176, 187);
        text-decoration: none;
        padding: 0 15px;
        font-size: 1.2rem;
    }

    footer > p {
        color: rgb(20, 176, 187);
    }

    .banner-content h2 {
        font-size: 300%;
        font-weight: 300;
        letter-spacing: 3px;
        font-family: "Fira Sans", sans-serif;
    }

    .banner-content h3 {
        font-size: 180%;
    }
}


@media screen and (max-width: 330px) {
    .drinks {
        margin-top: 200px;
    }
    #contact-form {
        padding-bottom: 6rem;
    }
}


/*--------------------------------------End of Media Query*/
